.popup {
  position: fixed;
  top: 2rem;
  left: 50%;
  translate: -50% 0;
  background-color: var(--bg-contrast-200);
  transition: opacity 250ms ease;
  padding: 0.5rem 1rem;
  border-radius: var(--br);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: calc(100% - 1rem);
  width: max-content;
}

.apply-button {
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  font-weight: bold;
  border: 0;
  border-radius: var(--br);
  cursor: pointer;
}
