.all-friends {
  padding: 1.5rem;
  width: 75%;
}

.title {
  font-size: var(--fs-500);
}

.friends-list {
  margin-top: 1rem;
}

.no-friends {
  margin-top: 1rem;
  color: var(--text-contrast-200);
}
