@import "@/styles/mixins";

.server-button {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  border: none;
  border-radius: calc(var(--br) * 3);
  cursor: pointer;
  overflow: hidden;
  transition: border-radius 150ms ease;
  position: relative;

  img {
    position: absolute;
    inset: 0;
  }
}
