.blocked-users {
  padding: 1.5rem;
  width: 75%;
  flex: 1;
  height: 100%;
  max-height: 100%;
  max-width: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fs-500);
}

.blocked-users-list {
  margin-top: 1rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.no-blocked-users {
  margin-top: 1rem;
  color: var(--text-contrast-200);
}
