.profile-card {
  display: flex;
  background-color: var(--bg-contrast-200);
  margin-top: auto;
  width: 100%;
}

.profile-info {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  min-width: 0;
  width: 50%;
  flex-grow: 1;
}

.names {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.display-name {
  font-size: var(--fs-300);
  font-weight: bold;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.username {
  font-size: var(--fs-300);
  color: var(--text-contrast-100);
  line-height: 1.25;
  white-space: nowrap;
  min-width: 0;
}

.buttons {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: var(--br);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:hover {
    background-color: var(--clr-hover);
  }

  svg {
    fill: var(--text-contrast-100);
    width: 1.5rem;
    height: auto;
  }

  &.muted svg {
    fill: var(--clr-error);
  }

  &.settings-button svg {
    width: 1.375rem;
    fill: var(--text-contrast-100);
  }
}
