.button {
  background-color: var(--clr-primary);
  border-radius: var(--br);
  border: none;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &:disabled {
    background-color: var(--bg-contrast-100);
    cursor: default;
    color: var(--text-contrast-200);
  }
}

.loader-wrapper {
  position: absolute;
  inset: 0;
  background-color: var(--bg-contrast-100);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
