.dm-item {
  width: 100%;
  max-width: 100%;
  list-style: none;
  border-radius: var(--br);
  padding: 0.5rem;

  &:hover {
    background-color: var(--clr-hover);
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.unread-count {
  margin-left: auto;
}

.display-name {
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
