.banner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  max-width: 75%;
  overflow: hidden;
}

.group-chat-image {
  width: 8rem;
  height: 8rem;
  border-radius: 1000vmax;
}

.member-names {
  font-size: var(--fs-600);
  font-weight: bold;
  line-height: 1;
  margin-top: 1rem;
  word-wrap: break-word;
}

.beginning-message {
  margin-top: 1rem;
  color: var(--text-contrast-100);
  line-height: 1.25;
  word-wrap: break-word;
  min-width: 0;
}
