.member-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  cursor: pointer;

  & + & {
    margin-top: 0.5rem;
  }
}

.member-name {
  font-weight: 500;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
