.server-card {
  width: 100%;
  --padding: 0.5rem;
  padding: var(--padding);
  background-color: var(--bg-contrast-200);
  position: relative;
}

.button {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--br);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;

  svg {
    fill: var(--text-primary);
    transition: rotate 150ms ease;
  }

  &.menu-expanded svg {
    rotate: 180deg;
  }

  span {
    font-weight: bold;
  }

  &:hover {
    background-color: var(--clr-hover);
  }
}

.dropdown {
  width: calc(100% - var(--padding) * 2);
  position: absolute;
  bottom: 0;
  translate: 0 calc(100% + 0.25rem);
  background-color: var(--bg-contrast-200);
  border-radius: var(--br);
  padding: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.dropdown-item {
  list-style: none;
}

.dropdown-button {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: var(--br);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;

  svg {
    fill: var(--text-primary);
  }

  span {
    font-size: var(--fs-300);
  }

  &:hover {
    background-color: var(--clr-hover);
  }
}
