@import "@/styles/mixins";

.sidebar {
  background-color: var(--bg-contrast-100);
  flex: 1;

  @include large-screen {
    flex: 0 0 15rem;
  }
}

.hidden {
  display: none;

  @include large-screen {
    display: unset;
  }
}
