@import "@/styles/mixins";

.main {
  background-color: var(--bg-main);
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;

  @include large-screen {
    display: unset;
  }
}
