.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  overflow-x: auto;
  flex: 0 0 auto;
  background-color: var(--bg-main);
}

.gc-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.gc-image {
  width: 2rem;
  height: 2rem;
  border-radius: 1000vmax;
}

.gc-members {
  font-size: var(--fs-500);
  font-weight: bold;
  white-space: nowrap;
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.add-user {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: auto;

  svg {
    fill: var(--text-primary);
    width: 75%;
    height: 75%;
  }
}

.sign-out-button {
  border: none;
  border-radius: var(--br);
  background-color: var(--clr-accent);
  font-weight: bold;
  color: var(--text-primary);
  padding: 0.75rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}
