.channel-item {
  list-style: none;

  & + & {
    margin-top: 0.125rem;
  }
}

.being-dragged {
  background-color: var(--bg-main);
  border-radius: var(--br);

  * {
    opacity: 0;
  }
}

.channel-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: var(--br);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  overflow: hidden;
  max-width: 100%;
  min-width: 0;

  svg {
    fill: var(--text-contrast-100);
    height: 100%;
  }

  &:hover {
    background-color: var(--clr-hover);

    .move-channel-grip {
      opacity: 1;
    }
  }

  &.selected {
    background-color: var(--clr-select);
  }
}

.channel-name {
  font-size: var(--fs-400);
  color: var(--text-contrast-100);
  line-height: 1.25;
  text-align: left;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.move-channel-grip {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  opacity: 0;
  margin-left: auto;

  svg {
    height: 1rem;
    fill: var(--text-contrast-200);
  }
}
